@using QuestRoom.Models

@model RoomsAndPictureModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@HomeHelper.HtmlList(Model)
<div>
    <p>Вы так же можете выбрать комнату по следующим типам:</p>
    <p>По жанру квест-комнаты:</p>
    @TypeRoomHelper.HtmlList(Model)
    <p>По уровню сложности квеста:</p>
    @LevelComplexityHelper.HtmlList(Model)
</div>


