@using QuestRoom.Models

@model RoomsAndPictureModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RedactorIndexHelper.HtmlList(Model)
    <p><a href="Redactor/Create" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Добавить квест</a></p>
</body>
</html>

