@using QuestRoom.Models;

@helper HtmlList(RoomsAndPictureModel model)
{
    foreach (var item in model.LevelComplexityService.GetLevelComplexity())
    {
        <div style="display:inline-block; margin:10px">
            <div style="width:200px; height:100px; margin:10px; border-color:red; border-width:2px;">
                <p>Уровень: <a href="Room/LevelComplexity/@item.Id">@item.Name</a></p>
            </div>
        </div>
    }
}
