@using QuestRoom.Models
@helper HtmlList(CategoryRoomsModel model)
{
    foreach (var item in model.Rooms)
    {
        <div style="display:inline-block; margin:10px">
            <div style="width:200px; height:100px; margin:10px; border-color:red; border-width:2px;">
                <p>Квест: <a href="/Room/Index/@item.Id">@item.Name</a></p>
            </div>
        </div>
    }
}
